<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.workspace.tuling01.mapper.PmsProductCategoryMapper">
    <resultMap id=" BaseResultMap" type="com.workspace.tuling01.mapper.PmsProductCategoryMapper">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="name" property="name"/>
        <result column="level" property="level"/>
        <result column="product_count" property="productCount"/>
        <result column="product_unit" property="productUnit"/>
        <result column="nave_status" property="naveStatus"/>
        <result column="show_status" property="showStatus"/>
        <result column="sort" property="sort"/>
        <result column="icon" property="icon"/>
        <result column="keywords" property="keywords"/>
        <result column="description" property="description"/>
    </resultMap>
    <!--一级分类和二级分类的下拉级联数据的resuitMap-->
    <resultMap id="WithChildrenMap" type="com.workspace.tuling01.pms.model.dto.ProductCateChildrenDTO">

    </resultMap>
    <!--获取商品一级分类和二级分类的下拉级联数据-->
    <select id="getWithChildren" resultMap="WithChildrenMap">

    </select>
    <resultMap id="WithChildrenMap" type="com.workspace.tuling01.pms.model.dto.ProductCateChildrenDTO">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <collection property="productList" ofType="com/workspace/tuling01/pms/model/dto/ProductDTO">
            <id property="id" column="pro_id"></id>
            <result property="name" column="pro_name"></result>
            <result property="pic" column="pro_pic"></result>
            <result property="promotionPrice" column="promotion_price"></result>
            <result property="originalPrice" column="original_price"></result>
            <result property="subTitle" column="sub_title"></result>

        </collection>
     </resultMap>
    <!-- 首页 分类导航栏菜单-->
    <select id="getProductWithCategory" resultMap="ProductWithCategoryMap">
        SELECT
        pc.id,
        pc. 'name',
        p.id pro_id,
        p.'name' pro_pic,
        p.promotion_price pro_promotion_price,
        p.original_price pro_original_price,
        p.sub_title pro_sub_title
        FROM pms_product p on EXISTS (SELECT pc2.id FROM pms_product_category pc2 where pc2.parent_id=pa.id
        and p.product_category_id=pc2.id) and p.delete_status=0 and p.recommand_status=1
        WHERE
        pc.parent_id=0
        ORDER BY pc.sort,pc.id,p.sort


    </select>

</mapper>
